# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
*.egg

# dbt
**/target/
**/dbt_packages/
**/dbt_internal_packages/
**/logs/
**/package-lock.yml

# Cube
datacube/.cubestore/

# Secrets
.env
.env.*
!.env.example
*.pem
private_key*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.tmp_*
